<footer class="footer">
  <small>
    The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".about"), about_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t(".new") %></a></li>
    </ul>
  </nav>
</footer>
